openapi: 3.0.3
info:
  title: API Specification for the Decentraland Catalyst Content Service
  version: '1.0'
  description: >-      
     The current specification details the Content service
  x-logo:
    url: 'https://cryptologos.cc/logos/decentraland-mana-logo.png'
  license:    
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
 
servers:
  - url: 'https://peer.decentraland.zone/content'
    description: Catalyst Development instance
  - url: 'https://peer-testing.decentraland.org/content'
    description: Catalyst Staging instance
  - url: 'https://peer.decentraland.org/content'
    description: First production Catalyst node
tags:
  - name: Content Server
    description: >-
     Decentraland is a virtual world that is owned by its users. One of the biggest differentiators about 
     Decentraland is its level of decentralization. Users can own LAND, wearables, and probably other types of 
     items in the future. Each of these items is an NFT in itself, and therefore ownership is determined by the 
     Ethereum (or EVM-compatible) blockchain.
     <br/><br/>Now, when a new wearable is created, or when a user uploads a scene to their LAND/parcel, all 
     necessary files (3d models, textures, music, etc) are uploaded to a "content server". Why are we using 
     these servers instead of the blockchain? Mainly because it would be prohibitively expensive to store files as 
     big as 3d models in the blockchain. Users would have to pay fees so high to upload content to their parcels 
     that nobody would do it.
     <br/><br/>So this is where content servers come into play. The content server is mainly a server where users 
     can upload these files we mentioned before. Each server will verify against the blockchain that the user making 
     the upload is actually allowed to do so. For example, in the case of scenes, the server will check that the 
     deployer owns all the parcels they are trying to modify.
     <br/><br/>And the most important part is that all content servers will then sync with each other. 
     So, for example, if a scene is modified in one server, the update itself will be broadcasted to the other ones. 
     Then, in the case a content server goes down for some reason, all content will still be present in the other ones.

paths:
  /deployments:
    $ref: paths/content/content@deployments.yaml
  /audit/{entityType}/{entityId}:
    $ref: 'paths/content/content@audit@{entityType}@{entityId}.yaml'
  /challenge:
    $ref: paths/content/content@challenge.yaml
  /contents/{hashId}:
    $ref: 'paths/content/content@contents@{hashId}.yaml'
  /contents/{hashId}/active-entities:
    $ref: 'paths/content/content@contents@{hashId}@active-entities.yaml'
  /available-content:
    $ref: paths/content/content@available-content.yaml
  /denylist:
    $ref: paths/content/content@denylist.yaml
  /denylist/{type}/{id}:
    $ref: 'paths/content/content@denylist@{type}@{id}.yaml'
  /entities:
    $ref: paths/content/content@entities.yaml
  /entities/{type}:
    $ref: 'paths/content/content@entities@{type}.yaml'
  /failed-deployments:
    $ref: paths/content/content@failed-deployments.yaml
  /pointer-changes:
    $ref: paths/content/content@pointer-changes.yaml
  /snapshot/{type}:
    $ref: 'paths/content/content@snapshot@{type}.yaml'
  /status:
    $ref: paths/content/content@status.yaml