openapi: 3.0.3
info:
  title: Catalyst Server API
  version: '1.0'
  description: API Specification for the Decentraland Catalyst Server
  license:
    #TODOL Validate if this license is OK.
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
 
servers:
  - url: 'https://peer.decentraland.zone'
    description: Catalyst Development instance
  - url: 'https://peer-testing.decentraland.org'
    description: Catalyst Staging instance
  - url: 'https://peer.decentraland.org'
    description: First production Catalyst node
paths:
  /content/deployments:
    $ref: paths/content/content@deployments.yaml
  /content/audit/{entityType}/{entityId}:
    $ref: 'paths/content/content@audit@{entityType}@{entityId}.yaml'
  /content/challenge:
    $ref: paths/content/content@challenge.yaml
  /content/contents/{hashId}:
    $ref: 'paths/content/content@contents@{hashId}.yaml'
  /content/contents/{hashId}/active-entities:
    $ref: 'paths/content/content@contents@{hashId}@active-entities.yaml'
  /content/available-content:
    $ref: paths/content/content@available-content.yaml
  /content/denylist:
    $ref: paths/content/content@denylist.yaml
  /content/denylist/{type}/{id}:
    $ref: 'paths/content/content@denylist@{type}@{id}.yaml'
  /content/entities:
    $ref: paths/content/content@entities.yaml
  /content/entities/{type}:
    $ref: 'paths/content/content@entities@{type}.yaml'
  /content/failed-deployments:
    $ref: paths/content/content@failed-deployments.yaml
  /content/pointer-changes:
    $ref: paths/content/content@pointer-changes.yaml
  /content/snapshot/{type}:
    $ref: 'paths/content/content@snapshot@{type}.yaml'
  /content/status:
    $ref: paths/content/content@status.yaml
  /lambdas/status:
    $ref: paths/lambdas/lambdas@status.yaml
  /lambdas/health:
    $ref: paths/lambdas/lambdas@health.yaml
  /lambdas/collections:
    $ref: paths/lambdas/lambdas@collections.yaml   
  /lambdas/collections/contents/{urn}/thumbail:
    $ref: 'paths/lambdas/lambdas@collections@contents@{urn}@thumbnail.yaml' 
  /lambdas/collections/contents/{urn}/image:
    $ref: 'paths/lambdas/lambdas@collections@contents@{urn}@image.yaml' 
  /lambdas/collections/standard/erc721/{chainId}/{contract}/{option}/{emission}:
    $ref: 'paths/lambdas/lambdas@collections@standard@erc721@{chainId}@{contract}@{option}@{emission}.yaml'
  /lambdas/collections/wearables:
    $ref: 'paths/lambdas/lambdas@collections@wearables.yaml'
  /lambdas/collections/wearables-by-owner/{address}:
    $ref: 'paths/lambdas/lambdas@collections@wearables-by-owner@{address}.yaml'
  /lambdas/contentv2/scenes:
    $ref: 'paths/lambdas/lambdas@contentv2@scenes.yaml'   
  /lambdas/contentv2/parcel_info: 
    $ref: 'paths/lambdas/lambdas@contentv2@parcel_info.yaml'
  /lambdas/contracts/servers:
    $ref: 'paths/lambdas/lambdas@contracts@servers.yaml'
  /lambdas/contracts/pois:
    $ref: 'paths/lambdas/lambdas@contracts@pois.yaml'
  /lambdas/contracts/denylisted-names:
    $ref: 'paths/lambdas/lambdas@contracts@denylisted-names.yaml'

