on:
  push:
    branches:
      - main
  pull_request:
  release:
    types:
      - created

name: Build And Publish
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install node dependencies
        run: yarn install
      - name: Build library
        run: yarn build

  build-publish:
    uses: decentraland/platform-actions/.github/workflows/libs-build-and-publish.yml@main
    secrets:
      SDK_TEAM_S3_BUCKET: ${{ secrets.SDK_TEAM_S3_BUCKET }}
      GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
      GITLAB_URL: ${{ secrets.GITLAB_URL }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      SDK_TEAM_AWS_ID: ${{ secrets.SDK_TEAM_AWS_ID }}
      SDK_TEAM_AWS_SECRET: ${{ secrets.SDK_TEAM_AWS_SECRET }}
      SDK_TEAM_S3_BASE_URL: ${{ secrets.SDK_TEAM_S3_BASE_URL }}
